.shop-container{
    display: grid;
    grid-template-columns: 1.3fr 3.5fr;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:45px;
    width: 300px;
    height: 480px;
    margin-top: 8rem;
    margin-left: 2rem;
    padding: .5rem;
}

.cart-position{
    text-align: center;
    margin-top: 6rem;
    padding: 2rem;
   
}
@media screen and (max-width:540px){

    .shop-container{
        grid-template-columns: repeat(1,1fr);
        margin: auto;

    }
    .product-grid{
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        margin-top: 1rem;
        margin: auto;


    }
}
