.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:45px;
    width: 300px;
    height: 480px;
    margin-top: 2rem;
    margin-left: 2rem;
    padding: .5rem;
}

.cart-position{
    text-align: center;
    margin-top: 4rem;
}
