.product{
    background-color:rgb(236, 239, 241);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position:relative;
}

.product img{
    width: 260px;
    height: 260px;
}
.product-info{
    padding: .5rem;

}
.product button{
    width: 100%;
    background-image: linear-gradient(to right bottom, rgb(244, 114, 182), rgb(219, 39, 119)); 
    border: none;
    border-radius: 1rem;
    padding: .5rem;  
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    font-weight: 500;
}